<div class="back-form {{open? 'open' : 'close'}}">
  <div class="container-form {{typeEntity != 'Analysis'? 'min': ''}}">
    <div class="top-zone">
      <app-inspectia-text text="{{formTitle}}" typeText="title"></app-inspectia-text>
      <app-close-icon class="noneStroke icon-close" size="XL" (onClick)="closeForm($event)"></app-close-icon>
    </div>
    <div class="mid-zone">
      @switch(typeEntity ){
        @case ("Analysis") {

          <div class="left-zone">
            <img src="assets/Images/Vector 2dsds.svg" alt="" crossorigin="anonymous">
          </div>

        }
      }
      <div class="{{typeEntity != 'Analysis'? 'full-zone': 'right-zone'}}">
        <form id="form-register" #form="ngForm" (ngSubmit)="submitForm($event)">


          <app-inspectia-input-form #formInput label="Selecciona tus archivos" type="files" [required]="true"
            placeholder="Ingresa aquí el nombre de {{typeEntityActual}}"></app-inspectia-input-form>

        </form>
      </div>
    </div>

    <div class="lower-zone ">
      <app-inspectia-button type="submit" form="form-register" buttonText="Continuar">
      </app-inspectia-button>
    </div>

  </div>
</div>
