<div class="back {{opened? 'open': 'close'}}">
  <div class="modal-container">
    <div class="icon-zone">
      @switch (typeModal) {
        @case ('error') {
          <app-error-icon size="XXXL" class="noneStroke"></app-error-icon>
        }
        @case ('warning') {
          <app-warning-icon size="XXXL" class="noneStroke"></app-warning-icon>
        }

        @case ('success') {
          <app-success-icon size="XXXL" class="noneStroke"></app-success-icon>
        }

        @case ('delete') {
          <app-delete-modal-icon size="XXXL" class="noneStroke"></app-delete-modal-icon>
        }
      }
    </div>
    <div class="info-zone">
      <app-inspectia-text class="title-modal" text="{{titleModal}}" [chain]="true" typeText="title" ></app-inspectia-text>
      <app-inspectia-text text="{{descriptionModal}}" typeText="description" ></app-inspectia-text>
    </div>
    <div class="button-zone">
      @if(typeModal == 'delete' || typeModal == 'warning') {
          <app-inspectia-button (onPress)="continue()" class="{{typeModal}}" min-size buttonText="Aceptar"></app-inspectia-button>
      }

      <app-inspectia-button (onPress)="closeModal($event)" class="principalButton" min-size buttonText="{{buttonPrincipalText}}" buttonStyle="minimalist"></app-inspectia-button>
    </div>
  </div>

</div>
