
<div class="left-zone">
  <article class="left-panel">

    <div class="upper-left-panel-zone">
      <section class="header-icon">
        <app-inspectia-logo-container class="logo"
          urlSource="../../../assets/Images/inspectia-log.png"
          contentType="logo"></app-inspectia-logo-container>
      </section>

      <section class="contentOptions">
        <app-inspectia-icon-text [type]="'Analysis'" sizeText="S" [backHover]="true" text="Analisis" color="orange">
          <app-analysis-icon class="analysis-icon" size="M" [chain]="true" />
        </app-inspectia-icon-text>
      </section>
    </div>

    <section class="bottomLogout">
      <app-inspectia-icon-text sizeText="S" color="red" text="Cerrar sesión" (onClick)="logout()">
        <app-logout-icon  size="S" [chain]="true" />
      </app-inspectia-icon-text>
    </section>


  </article>
</div>

<div class="right-zone">
  <article class="lower-zone">

    <div class="graphic-section">
      <inspectia-donut-chart [value]="currentPercentageValue" class="donut-chart"></inspectia-donut-chart>
    </div>
    <div class="table-container">

      <app-inspectia-button class="button-add" (onPress)="showFormAnalysisGeneration()" min-size buttonText="Añadir"
        buttonType="button-icon" buttonStyle="minimalist">
        <app-icon-add class="icon" [chain]="true" />
      </app-inspectia-button>



      <div class="table">

        <app-row-table [header]="true">
          <app-value-row value="ID" size="30%"></app-value-row>
          <app-value-row value="Fecha" size="50%"></app-value-row>
          <app-value-row value="Acciones" size="20%"></app-value-row>
        </app-row-table>

        @for(value of data; track value.uuid; let i = $index) {

        <app-row-table>
          <app-value-row value="{{value.uuid}}" size="30%"></app-value-row>
          <app-value-row value="{{getDate(value)}}" size="50%"></app-value-row>
          <app-value-row size="20%">
            <app-see-icon [chain]="true" class="icon-see" (click)="seeCurrentMetric(value.score)" />
            <app-more-icon [chain]="true" class="icon-see" (click)="toggleRow(value.uuid)" />
            <app-delete-icon [chain]="true" class="icon-delete" (onClick)="deleteAnalysis(value.uuid)"></app-delete-icon>
          </app-value-row>
        </app-row-table>

          @if (isRowExpanded(value.uuid)) {
            @for(file of value.files; track file.filename) {
              <app-row-table [indentationLevel]="100">
                <app-value-row value="{{file.filename}}" size="60%"></app-value-row>
              </app-row-table>
            }
          }
        }

      </div>


    </div>


  </article>
</div>


<app-basic-modal #modal (aceptButtonClicked)="executeActualOperation(id)" [typeModal]="typeModal" [opened]="showModal"
  (closedModal)="closedModalExecute()" [customMessageType]="customModalMessage"></app-basic-modal>

<app-inspectia-add-entity-form #fileUploadInput typeEntity="Analysis" [open]="showForm" [operation]="operationActual"
  (closedForm)="closeUpdate()" typeEntityActual="Analysis" (submitFormEmitter)="generateAnalysis($event)">
</app-inspectia-add-entity-form>

@if(isLoading){
    <div class="card flex justify-center">
    <p-progressSpinner class="progress-spinner" strokeWidth="8"  animationDuration=".5s"
    [style]="{ width: '60px', height: '60px' }"/>
  </div>
}




